body {
  margin: 0;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark-teal); /* Dark teal background */
  color: var(--black); /* Black text color */
}
